<h1 class="mb-4">Valores de la UF últimos 12 meses</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Fecha</th>
      <th>Valor UF</th>
    </tr>
  </thead>
  <tbody>
    <% @ufs.each do |uf| %>
      <tr>
        <td><%= uf[:fecha] %></td>
        <td><%= number_with_precision(uf[:uf_value], precision: 2, delimiter: ".") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
